:root{
  --color-primary: #34C94B;
  --color-black:#121212;
  --color-white:#FFFFFF;

}





body {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0px;
  margin: 0;
  line-height: 1.5;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
