:root{
  --color-primary: #34C94B;
  --color-black:#121212;
  --color-white:#FFFFFF;
  --background-color-primary: #000000;
}

*,*::after,*::before{
  box-sizing: border-box;
}
*{
  margin: 0;
}

html,body{
  height: 100%;
}


body {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0px;
  margin: 0;
  line-height: 1.5;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
